<div class="data-calidad">
                    <section class="data">
                        <div class="img-data">
                            <img src="imagenes/camion-de-reparto.png" alt="svg">
                        </div>
                        <div class="text-data">
                            <p>Envio a<br>Domicilio</p>
                        </div>
                    </section>
                    <section class="data">
                        <div class="img-data">
                            <img src="imagenes/repartidor.png" alt="svg">
                        </div>
                        <div class="text-data">
                            <p>Entrega<br>Inmediata</p>
                        </div>
                    </section>
                    <section class="data">
                        <div class="img-data">
                            <img src="imagenes/estrella.png" alt="svg">
                        </div>
                        <div class="text-data">
                            <p>Productos<br>de Calidad</p>
                        </div>
                    </section>
            </div>