            <div class="contactos">
                <div class="contactos-section">
                    <h4>Conocenos</h4>
                    <ul class="lista-contacto">
                        <li><a href="../nosotros" class="link-contacto">Nosotros</a></li>
                        <li><a href="../contacto" class="link-contacto">Contacto</a></li>
                        <li><a href="https://goo.gl/maps/PYCV3G9P6JSBqg1M6" class="link-contacto">Manuel Sarratea 588, Claypole, Bs. As.</a></li>
                    </ul>
                </div>
                <div class="contactos-section">
                    <h4>Contactanos</h4>
                    <ul class="lista-contacto">
                        <li><a href="tel:1159073405" class="link-contacto">+5491159073405</a></li>
                        <li><a href="mailto:mariasalvetti.desayunos2020@gmail.com" class="link-contacto">info@desayunos.com</a></li>
                    </ul>
                </div>
                <div class="contactos-section">
                    <h4>Medios de pagos</h4>
                    <div class="lista-contacto img-pago">
                       <img src="../imagenes/medios-pago(2).png" alt="pago">
                    </div>
                </div>
            </div>