<footer class="footer">
    <div class="site-footer">
        <div class="row">
            <div class="columns-footer">
                <nav class="footer-navigation_date">
                    <ul class="menu-footer_page">
                        <li class="menu-item_footer"><a href="../faq" class="link-item_footer">Preguntas Frecuentes</a></li>
                        <li class="menu-item_footer border-left_footer"><a href="../rembolso" class="link-item_footer">Políticas de Reembolso</a></li>
                        <li class="menu-item_footer border-left_footer"><a href="../contacto" class="link-item_footer">Contactanos</a></li>
                    </ul>
                </nav>
            <div class="text-copy_footer">
                DESAYUNOS M&D.
                <br>
                Desayunos, Tortas y Picadas a domicilio.
            </div>
            </div>
        </div>
    </div>
</footer>