<div class="grid-img">
                    <div class="container-img" id="img">
                        <div class="img-catalogo">
                            <img src="{{ post.data.image }}" alt="desayunos, picadas y tortas">
                        </div>
                    </div>
                    <div class="text">
                        <div class="text-center">
                            <h5>{{ post.data.title }}</h5>
                            <p>{{ post.data.description }}</p>
                            <span>{{ post.data.precio }}</span>
                        </div>
                    </div>
                </div>