---
title: 'Desayuno MyD | Catalogo'
layout: 'base.njk'
---


            <div class="text-title">
                <h3>Catalogo de Desayunos</h3>
            </div>
            <div class="container-grid">
                {%- for post in collections.post -%}
                {% include 'img-seccion.njk' %}
                {%- endfor %}
            </div>