---
title: 'Desayunos DyM | Preguntas Frecuentes'
layout: 'base.njk'
---


            <div class="text-title">
                <h2>Preguntas Frecuentes</h2>
            </div>
            <div class="container-faq">
                <h3>¿Cómo comprar?</h3>
                <p>Ofrecemos dos formas de conocer nuestros productos:</p>
                <span>1.- Visitando nuestro catalogo en donde podrás ver distintas propuestas con temáticas a elección lo cual contamos con gran variedad.</span>
                <span>2.- Pedí tu temática nueva a nuestro whatsapp dónde podrás añadir tus ideas cada producto que quieras en base a tus gustos y tu presupuesto.</span><br>
                <h3>Zonas de Entrega</h3>
                <p>Realizamos entregas en Capital Federal y Gran Buenos Zona sur.</p><br>
                <h3>¿En qué horario llegará el pedido?</h3>
                <p>¡Somos puntuales! Por eso te pedimos que pienses en la persona que recibe el pedido, ¿Estará disponible a la hora de recibir tu regalo?</p>
                <h4>Las franjas horarias que podrás elegir son de:</h4>
                <span>7:30 a 9:30 hs.</span>
                <span>8:30 a 10:30 hs.</span>
                <span>10:30 a 13:00 hs.</span>
                <p>Debido a cuestiones ajenas a logística como condiciones climáticas, tránsito imprevisto y/o accidente que ocurra durante el transporte, manejamos un margen de 2 horas para las entregas.</p><br>
                <h3>Protocolo del chofer:</h3>
                <p>Si cuando llega el regalo no responde nadie, el chofer aguardará 15 minutos, durante los cuales, nos comunicaremos con el destinatario de la sorpresa, quizàs encuentre ocupado o no escuche el timbre.</p>
                <h4>¿Y si no atiende?</h4>
                <p>Nos comunicaremos con el comprador para ver si hay manera de localizar al destinario, y si no hubiese manera de resolverlo durante esos 15 minutos, el regalo será devuelto a nuestra oficina y quedará a disposición del comprador, para retirarlo o coordinar un nuevo envío*, el cuál debe ser abonado nuevamente.</p>
                <h5>*Comestibles frescos:</h5>
                <p>en caso de que no se haya concretado la entrega los comestibles frescos serán descartados (sin excepción) y es decisión del comprador volver a adquirirlos o no.</p>
                <h5>Globos y flores:</h5>
                <p>Los conservaremos hasta que ya no vuelen o se marchiten, es decisión del comprador si enviamos los mismo, los vuelve a comprar o no.</p>
                <h4>¿Con cuánta anticipación debo encargarlo?</h4>
                <p>La sorpresa la puedes encargar cuando desees a través de nuestra página web o comunicándote al +54 9 1159073405 de Lunes a Viernes de 8 a 17hs.</p>
                <p>Se requiere aproximadamente 24hs. hábiles de anticipación. Si compras entre las 8 y las 15hs. (días hábiles) podemos entregarlo en el día como merienda o para el día siguiente como desayuno.</p>
                <br><br><br><br>
                <h3>Medios de Pago:</h3>
                <p>Puedes abonar tu pedido en efectivo, transferencia/depósito o con tarjeta de crédito/debido.</p><br>
                <h3>Efectivo:</h3>
                <p>Podrás abonarlo cuando recibas el producto o acercándote a nuestra sucursal ubicada en, Manuel Sarratea 588, Claypole, Argentina. Con Previa coordinación.</p><br>
                <h3>Transferencia/Depósito:</h3>
                <p>Contamos con una cuenta corriente en el Banco Santander rio. Te enviaremos los datos por email una vez que realices el pedido. Luego deberás enviarnos el comprobante de la operación para poder imputar el pago.</p><br>
                <h3>MercadoPago:</h3>
                <p>Mercadopago cuenta con distintas promociones según la tarjeta y el banco. Podes ver las mismas en el siguiente link <a href="https://www.mercadopago.com.ar/cuotas" target="_blank">Mercado/Cuotas</a>.</p><br>
                <h3>Paypal:</h3>
                <p>Para compras desde el exterior con tarjetas de crédito a través de PayPal.</p>
            </div>