---
title: 'Desayunos, picadas y tortas'
layout: 'base.njk'
---

    <div class="container-principal">
        <main class="main">
            <div class="img-header">
                <img src="imagenes/portada-inicio.jpeg" alt="Desayuno, picada y torta">
            </div>
            <section class="inicio-section">
                <h2>Desayunos</h2>
                <div class="container-grid">
                    {%- for post in collections.featured | reverse -%}
                    {% include 'img-seccion.njk' %}
                    {%- endfor %}
                </div>
            </section>
            <section class="inicio-section">
                <h2>Tortas</h2>
                <div class="container-grid">
                {%- for torta in collections2.featured | reverse -%}
                <div class="grid-img">
                    <div class="container-img" id="img">
                        <div class="img-catalogo">
                            <img src="{{ torta.data.image }}" alt="desayunos, picadas y tortas">
                        </div>
                    </div>
                    <div class="text">
                        <div class="text-center">
                            <h5>{{ torta.data.title }}</h5>
                            <p>{{ torta.data.description }}</p>
                            <span>{{ torta.data.precio }}</span>
                        </div>
                    </div>
                </div>
                {%- endfor %}
                </div>
            </section>
            <section class="inicio-section">
                <h2>Picadas</h2>
                <div class="container-grid">
                {%- for picada in collections3.featured | reverse -%}
                <div class="grid-img">
                    <div class="container-img" id="img">
                        <div class="img-catalogo">
                            <img src="{{ picada.data.image }}" alt="desayunos, picadas y tortas">
                        </div>
                    </div>
                    <div class="text">
                        <div class="text-center">
                            <h5>{{ picada.data.title }}</h5>
                            <p>{{ picada.data.description }}</p>
                            <span>{{ picada.data.precio }}</span>
                        </div>
                    </div>
                </div>
                {%- endfor %}
                </div>
            </section>
            <div class="text-nosotros-inicio">
                <h4 class="title-nosotros">Desayunos D&M</h4><br>
                <div class="block-text-inicio">
                    <p>Somos un emprendimiento familiar que con mucho amor y sacrificio nació como una necesidad en la pandemia y se transformó en la alegría de una mañana inolvidable de muchas familias. 
                           Nuestros desayunos tienen cookies únicas ya que mandamos a hacer cortantes con impresoras 3d lo cual formamos diseños exclusivos. 
                           Podemos armar pastelería con logos de empresa, frases especiales y hasta tortas con imágenes comestibles. 
                           Nos encanta la decoración de la pastelería agregamos toppers de todo tipo, bombones artesanales, globos con formas según la temática. 
                           Es un trabajo artesanal combinado con la tecnología se transforma en algo único que al momento de regalar, potencia más las emociones, la alegría, el entusiasmo por el trabajo y los detalles en el cual se pone mucho énfasis.</p>
                </div>
            </div>
            {% include 'calidad.njk' %}
        </main>
    </div>