---
title: 'Desayunos MyD'
layout: 'base.njk'
---


            <div class="container-nosotros">
                <div class="img-nosotros">
                    <div class="block-nosotros"><img src="../imagenes/desayunosmydjpeg" alt="nostros"></div>
                </div>
                <div class="text-nosotros">
                    <h4 class="title-nosotros">Desayunos D y M</h4><br>
                    <div class="block-text">
                        <p>Somos un emprendimiento familiar que con mucho amor y sacrificio nació como una necesidad en la pandemia y se transformó en la alegría de una mañana inolvidable de muchas familias. 
                           Nuestros desayunos tienen cookies únicas ya que mandamos a hacer cortantes con impresoras 3d lo cual formamos diseños exclusivos. 
                           Podemos armar pastelería con logos de empresa, frases especiales y hasta tortas con imágenes comestibles. 
                           Nos encanta la decoración de la pastelería agregamos toppers de todo tipo, bombones artesanales, globos con formas según la temática. 
                           Es un trabajo artesanal combinado con la tecnología se transforma en algo único que al momento de regalar, potencia más las emociones, la alegría, el entusiasmo por el trabajo y los detalles en el cual se pone mucho énfasis.</p>
                    </div>
                </div>
            </div>