---
title: 'Desayunos DyM | Politica de Rembolso'
layout: 'base.njk'
---


            <div class="text-title margin-bottom_title">
                <h2>Políticas De Reembolsos</h2>
            </div>
            <div class="container-politica">
                <p class="text-politica">En Desayunos D&M trabajamos para hacerlos felices a quienes compran y reciben. Nuestra política de reembolsos refleja nuestro compromiso con tu satisfacción. </p><br>
                <h3 class="title-second_politica">¿Te arrepentiste?</h3>
                <p class="text-politica">Podes cancelar tu pedido hasta 24 horas antes del horario programado y te devolveremos el 100% del importe abonado.</p>
                <p class="text-politica">Los productos que lleven un diseño personalizado y ya hayan sido diseñados podrás cancelarlo y se le devolvera el 50% del importe abonado de ese producto.</p>
                <p class="text-politica">Para cancelar una compra, por favor contáctanos a mariasalvetti.desayunos2020@gmail.com o por teléfono al +5491159073405.</p><br>
                <h3 class="title-second_politica">¿Algo no salió bien? </h3>
                <p class="text-politica">Tu satisfacción es lo más importante para nosotros. Por favor contáctanos a cisternas_ed@hotmail.com o por teléfono al +5491132624969, o por redes sociales en Facebook o Instagram como @desayunos.artesanales.2020, describiendo el problema y rápidamente nos ocuparemos de encontrar una solución satisfactoria.</p>
            </div>